nxbuild
build*/
*.elf
*.nro
*.nacp
*.dksh
*.nso
*ignoreme
src/ignoreme/
old_code
created_ncas
assets/romfs/shaders
.vscode/settings.json
.idea
info/
romfs/shaders
assets/unused

libs/libpulsar
libs/stb
libs/yyjson
libs/tweeny

compile_commands.json
out

usb_test/
__pycache__
usb_*.spec

CMakeUserPresets.json
build_patreon.sh
sphaira.map
